@charset "UTF-8";

html,body{width:100%;height:100%;overflow:hidden;font-family:微软雅黑;font-size:20px;line-height:1.5;color: #DCE2FE;}
* {margin:0;padding:0;box-sizing:border-box;}
ul{list-style:none}

@font-face{font-family:digiface;src:url('DigifaceWide Regular.TTF') format('truetype')}
.font-digiface{font-family: digiface;}

.white{color: #DCE2FE;}
.blue{color: #3fa7ff;}

.mt20{margin-top: 1rem;}

.page{position:absolute;top:0;right:0;bottom:0;left:0;z-index:0}

/*flex*/
.flex, .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex.inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify-center,
.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.items-center,
.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
.content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}
.content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}
.self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.self-center {
    -ms-flex-item-align: center;
    align-self: center;
}
.self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
.self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

/* index */
.page-index{overflow-y: scroll;background: url("../img/beijing.png")no-repeat center 80px #09153D}
.page-index .logo{padding-left: 4rem;}
.page-index .logo h3{font-size: 1.2rem; font-weight: inherit;}
.page-index .logo p{font-size: .7rem;}
.page-index .title-bg{position: relative;}
.page-index .title{text-align: center;background: url("../img/dingbu_kuang@2x.png")no-repeat bottom;height: 7rem;background-size:100% 100%; }
.page-index .title img{width: 30.5rem;margin-top: 1.3rem}
.page-index .date{ margin-left: 2rem; font-size: 1.2rem; color: #34AAFC;position: absolute;right: 1.9rem;right: 2rem;top:1rem}
.page-index .date:before{margin-top:-.25rem;position: absolute; top: 50%; left:-1rem; content: ''; display: block; width: .5rem; height: .5rem; background: #fc0808; border-radius: 50%; overflow: hidden;}
.page-index .address{margin-top: .8rem; padding-left: 3rem; width: 20rem; height: 3rem; line-height: 3rem; font-size: .8rem; color: #ffc300; border: 1px solid #58abff; border-radius: 1.5rem; overflow: hidden; background: url(ic_dw.png) 1rem center no-repeat;}
.page-index .title-bar{position: relative; line-height: 48px;font-size: .9rem; text-align: center; background: url(ic_line.png) center bottom no-repeat; background-size: contain; }
.page-index .title-bar .barTab{position: absolute; top: 0; right: 1rem; display: flex;}
.page-index .title-bar .barTab span{display: block; width: 1.1rem; height: 1rem; line-height: 1rem; font-size: .6rem; text-align: center; cursor: pointer;}
.page-index .title-bar .barTab .active{color: #000; background: #6ac8ff;}
.page-index .module-case{padding: 0 1rem 1rem 1rem; width: 400px;box-shadow: 0px 0px 10px rgba(200,200,200,0.5) inset,0px 0px 5px rgba(200,200,200,0.5);position: relative}
.page-index .module-case:before{border: 1px solid #39B1FF;opacity: 0.55;content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.page-index .module-case.pay{height:296px}
.page-index .module-case .rank-pie{height: 150px}
.page-index .module-case.pie{height: 192px;overflow: hidden}
.page-index .content{padding: 1.9rem}
.page-index .patients-case{position: relative; height:242px; overflow: hidden;}
.page-index .patients{position:absolute;left:0;top:3rem;right:0;bottom:0;overflow:hidden}
.page-index .patients ul{position:absolute;left:1rem;top:auto;right:0rem;bottom:0;padding:0 1rem; border-left: 1px solid rgba(45, 255, 56, .3);}
.page-index .patients ul li{margin-bottom: .5rem; padding:.95rem .5rem ; font-size: .6rem; color: #3fa7ff; background: rgba(2, 10, 19, .2)}
.page-index .patients ul li p{position: relative; white-space: nowrap;}
.page-index .patients ul li p:last-child{overflow: hidden;}
.page-index .patients ul li p:first-child:before{content: ''; position: absolute; top: .1rem; left: -1.9rem; display: block; width: .35rem; height: .35rem; background:#2de138; border: .2rem solid rgba(0, 0, 0, .4); border-radius: 50%; overflow: hidden;}
.page-index .patients ul li{transition:all 1s;width:340px}
.patients-leave-active{position:absolute}

.page-index .pays{font-size: .6rem;margin-top: 1.2rem}
.page-index .pays li{
    line-height: 2.1rem;margin-bottom: .5rem;transition: all 1s;
    padding-right: 1rem;
}

.page-index .pays li{
    background:-webkit-linear-gradient(left, rgba(23,126,218,0), rgba(23,126,218,0.8));/* Safari, Chrome*/
    background:-moz-linear-gradient(left, rgba(23,126,218,0), rgba(23,126,218,0.8));/* Firefox*/
    background:-o-linear-gradient(left, rgba(23,126,218,0), rgba(23,126,218,0.8));/* Opera, Opera mobile*/
}

.page-index .pays li label{font-size: .8rem;}
.page-index .pays li .font-digiface{position: relative; height: 1.2rem; line-break: 1.2rem; margin-right: .5rem;  font-size: .9rem;}
.page-index .pays li .font-digiface i{width: auto;font-style:normal;}
.pay-flip-item{position:absolute}
.pay-flip-item0{right:0}
.pay-flip-item1{right:.8rem}
.pay-flip-item2{right:1.6rem}
.pay-flip-item3{right:2.4rem}
.pay-flip-item4{right:3.2rem}
.pay-flip-item5{right:4rem}
.bg-fade0{opcity:0}
.pay-flip-enter-active{transition:opacity 1s}
.pay-flip-enter,.flip-leave-active{opacity:0}

/* charts */
.page-index .charts{text-align: center;margin: 0 2rem}

.page-index ul.stats{display:flex;justify-content:space-between;width: 888px;margin: 3.6rem auto 0 auto}
.map-div{background: url("../img/map@2x.png") no-repeat center 225px/100% auto;}
.page-index .legend{width: 904px;margin: 0 auto}
.page-index .legend ul{background-color:rgba(63,153,208,.09);width: 160px;padding: .8rem;margin-top: -7rem}
.page-index .legend ul li{font-size: .6rem;margin-bottom: .6rem;line-height:1;}
.page-index .legend ul li:last-child{margin-bottom: 0rem;}
.page-index .legend ul li .level-1{margin-right:.3rem;background-color: #16E9A5;width: .7rem;height: .7rem;}
.page-index .legend ul li .level-2{margin-right:.3rem;background-color: #1993FB;width: .7rem;height: .7rem;}
.page-index .legend ul li .level-3{margin-right:.3rem;background-color: #FFF801;width: .7rem;height: .7rem;}
.page-index .legend ul li .level-4{margin-right:.3rem;background-color: #F92625;width: .7rem;height: .7rem;}
.page-index ul.stats li{font-size:.8rem;position:relative;width:8.4rem;margin-right:1.6rem;border-radius:50%;display:flex;flex-direction:column;align-items:center;justify-content:center}
.page-index ul.stats li p{margin-top: 8rem;margin-bottom: .3rem}
.page-index ul.stats li .stat-name{color: #7DDCFF}
.page-index ul.stats li:last-child{margin-right:0}
.page-index ul.stats li:first-child{text-align:center;line-height:1.25rem}
/* .page-index ul.stats li:not(:first-child):before{position:absolute;left:20%;top:-35%;right:-20%;bottom:35%;z-index:0;display:block;content:'';background:url(stat-bg.png) no-repeat} */
.page-index ul.stats li p{display:flex;flex-direction:column;align-items:center;justify-content:center}
.page-index ul.stats li p span:first-child{font-size:.95rem}
.page-index ul.stats li p span:last-child{position:relative;display:block;height:1.3rem;line-height:1.5rem;font-size:1.5rem}
.page-index ul.stats .stat-item{display:inline-block;font-style:normal}

.stat-fade-item{position:absolute}
.stat-fade-item0{left:0}
.stat-fade-item1{left:1rem}
.stat-fade-item2{left:2rem}
.stat-fade-item3{left:3rem}
.stat-fade-item4{left:4rem}
.stat-fade-item5{left:5rem}
.stat-fade-enter-active,.stat-fade-leave-active{transition:all 1s}
.stat-fade-enter,.stat-fade-leave-to{opacity:0}
.stat-fade-enter{transform:translateY(1.3rem)}
.stat-fade-leave-to{transform:translateY(-1.3rem)}

.page-index ul.stats li div.chart-pie{position:absolute;left:0;top:0;right:0;bottom:0}


.page-index .map{width: 100%;}
.page-index .map .chart-map{margin: 0 15%; width:70%;height:30rem}
.page-index .map .chart-tab{display: flex;justify-content: center; text-align: center;line-height: 30px}
.page-index .map .chart-tab div{display: flex; border: 1px solid;}
.page-index .map .chart-tab div label{padding: 0 .3rem; height: 1.5rem; line-height: 1.5rem; font-size: .7rem;word-break: keep-all;}
.page-index .map .chart-tab div span{position: relative; width: 4.4rem; padding: 0 .3rem;font-size: 1rem}
.page-index .map .chart-tab div span i{font-style: normal}
.page-index .map .chart-tab div{border-color: #1993FB;}
.page-index .map .chart-tab div span{ background: rgba(25,147,251,0.74); }
.page-index .map .chart-tab div{margin-left: 1rem; border-color: #1993FB;}
.page-index .map .chart-tab div:first-child{margin-left:0;}

.vis-fade-item{position:absolute}
.vis-fade-item0{right:.4rem}
.vis-fade-item1{right:1.2rem}
.vis-fade-item2{right:2rem}
.vis-fade-item3{right:2.8rem}
.vis-fade-item4{right:3.6rem}
.vis-fade-item5{right:4.4rem}
.vis-fade-enter-active,.vis-fade-leave-active{transition:all 1s}
.vis-fade-enter,.vis-fade-leave-to{opacity:0}

/* bar */
.bar{width: 17.5rem; height: 8.7rem;}

/*line 折线图*/
.line-content .line-case{position: relative;width: 20rem;height: 12rem;padding: 0 0 .5rem;margin-bottom: 1.25rem;box-shadow: 0px 0px 10px rgba(200,200,200,0.5) inset,0px 0px 5px rgba(200,200,200,0.5);}
.line-content .line-case:before{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;border: 1px solid #39B1FF;opacity:0.55;}
[class*="border-"]{position: absolute;;width: .6rem;height: .6rem;}
.border-tl{top: 0;left: 0;border-top:2px solid rgba(83,194,255,1);border-left:2px solid rgba(83,194,255,1);}
.border-tr{top: 0;right: 0;border-top:2px solid rgba(83,194,255,1);border-right:2px solid rgba(83,194,255,1);}
.border-bl{bottom: 0;left: 0;border-bottom:2px solid rgba(83,194,255,1);border-left:2px solid rgba(83,194,255,1);}
.border-br{bottom: 0;right: 0;border-bottom:2px solid rgba(83,194,255,1);border-right:2px solid rgba(83,194,255,1);}
.line-content .line-title{position: relative;line-height: 2.2rem;text-align: center;margin:0;font-size: .9rem;color: #DCE2FE;background: url(ic_line.png) center bottom no-repeat;background-size: contain;}
.line-content .line-box{height: 7rem;padding: 0 .5rem;}
.line-content [class*="forecast-"]{height: 1.8rem;text-align: right;}
.line-content [class*="forecast-"]>span{position: relative;z-index: 1;display: inline-block;width:2.6rem;height: 1.1rem;text-align: center;line-height: 22px;margin: .2rem 3.5rem 0 0;font-size: .6rem;font-weight:400;color: #fff;}
.line-content [class*="forecast-"]>span:before{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.line-content .forecast-visit>span:before{background-color: #51ECBC;opacity:0.5;}
.line-content .forecast-pay>span:before{background-color: #FFF638;opacity:0.72;}
.line-content .forecast-regist>span:before{background-color: #FC6769;opacity:0.72;}
.line-content [class*="forecast-"]>span:after{content: '预测';position: relative;}



/*@media screen and  (max-width:1360px){*/
    /*.page-index .module-case{width: 350px}*/
    /*.page-index .map-div{transform: scale(0.6);position: absolute}*/
    /*.page-index .map .chart-tab div label{font-size: .6rem}*/
    /*.page-index .map .chart-tab{display: flex;flex-wrap:wrap ;text-align: center;line-height: 30px;width: 20rem}*/
    /*.page-index ul.stats{width: 700px}*/
/*}*/


